<!doctype html>
<html>

<head>
	<title>Chatbot</title>
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet"
		id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>




</head>

		
<body>
	
	


	<div class="container-fluid h-100">
		<div class="row justify-content-center h-100">
			<div class="col-md-8 col-xl-6 chat">
				<div class="card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="img_cont">
								<img src="https://img.freepik.com/premium-vector/chat-bot-logo-smiling-virtual-assistant-bot-smiles-icon-logo-robot-head-with-headphones_843540-91.jpg"
									class="rounded-circle user_img">
								<span class="online_icon"></span>
							</div>
							<div class="user_info">
								<span>ChatBot</span>
								<p>Veuillez poser votre question!</p>
							</div>
						</div>
					</div>
					<div id="messageFormeight" class="card-body msg_card_body" #messageArea>
						<div *ngFor="let msg of messages">
							<div *ngIf="msg.type === 'user'" class="user-message d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">{{ msg.content }}<span class="msg_time_send">{{ msg.time
										}}</span></div>
								<div class="img_cont_msg"><img
										src="https://cdn-icons-png.flaticon.com/512/5951/5951752.png"
										class="rounded-circle user_img_msg"></div>

							</div>


							<div *ngIf="msg.type === 'bot'" class="bot-message d-flex justify-content-start mb-4">
								<div class="img_cont_msg"><img src="https://img.freepik.com/premium-vector/chat-bot-logo-smiling-virtual-assistant-bot-smiles-icon-logo-robot-head-with-headphones_843540-91.jpg"
										class="rounded-circle user_img_msg"></div>
								<div class="msg_cotainer">{{ msg.content }}<span class="msg_time">{{ msg.time }}</span>
								</div>
							</div>
						</div>
					</div>

					<div class="card-footer">
						<form class="input-group" (ngSubmit)="sendMessage()">
							<input type="text" name="msg" placeholder="Veuillez écrire votre message,ou choisir :"
								autocomplete="off" class="form-control type_msg" required [(ngModel)]="userQuery" />

							<select [(ngModel)]="selectedQuestion" name="msg" type="text" class="select">
								<option *ngFor="let question of predefinedQuestions" [value]="question.user">{{
									question.user }}</option>
							</select>

							<div class="input-group-append">
								<button type="submit" class="input-group-text send_btn"><i
										class="fas fa-location-arrow"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>




</html>