<body>
    <div class="container">
        <section class="about-us">
            <div class="containe">
                <img src="assets/images/log2.png" alt="Logo">
                <h2>À propos de RDV med</h2>
                <p>Chez RDV med, notre mission est de simplifier la prise de rendez-vous médicaux pour tous. Nous comprenons à quel point il peut être frustrant et stressant de trouver un créneau horaire disponible chez un médecin. C'est pourquoi nous avons créé une plateforme conviviale et efficace qui permet aux patients de trouver et de réserver facilement des rendez-vous médicaux en ligne.</p>
        
                <div class="engagements">
                    <h3>Notre engagement envers vous :</h3>
                    <ul>
                        <li><strong>Accessibilité :</strong> Nous nous engageons à rendre la prise de rendez-vous médicaux aussi simple et accessible que possible pour tous.</li>
                        <li><strong>Choix et flexibilité :</strong> RDV med offre une variété de médecins et de spécialités, ainsi que des options de rendez-vous flexibles pour répondre à vos besoins et à votre emploi du temps.</li>
                        <li><strong>Fiabilité :</strong> Vous pouvez avoir confiance en notre plateforme pour fournir des informations précises sur les médecins, les horaires disponibles et les services proposés.</li>
                        <li><strong>Confidentialité :</strong> La confidentialité de vos informations personnelles et médicales est notre priorité absolue. Nous respectons et protégeons votre vie privée à chaque étape du processus.</li>
                        <li><strong>Service clientèle exceptionnel :</strong> Notre équipe dévouée est là pour répondre à toutes vos questions et vous fournir un soutien personnalisé à tout moment.</li>
                    </ul>
                </div>
                
                <p>Rejoignez-nous dès aujourd'hui et laissez RDV med vous aider à gérer plus facilement votre santé.</p>
            </div>
        </section>
        
    </div>
</body>